body * {
  transition: all 0.3s;
}
h1 {
   font-size: 3em;
   text-align: center;
   color: rgba(255,165,0, 0.8);
   border: 1px solid green;
   border-radius: 100px;
   background-color: #f2f2f2
}

p {
   color: #5b6161;
   text-indent: 10px;
 	letter-spacing: 2px;
   word-spacing: 6px;
}

body {
   background-color: #F6F6F6;
}

a {
   font-family: "Arial Black", Gadget, sans-serif;
   color: #5b6161;
   border: 2px solid #fff;
   border-radius: 20px;

}



li {
   font-size: 10px;
   color: #6fe812;
   padding-bottom: 10px;
   font-size: 2em;
   word-spacing: 12px;
   text-decoration:none;
}




li a:hover,
li a:hover+ul li a {
    text-decoration: none;
  animation: shady 4s linear infinite;
}

@keyframes shady {
  0% {box-shadow: 0 0 0 0px rgba(255,165,0, 0.8), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  20% {box-shadow: 0 0 0 100px rgba(255,165,0,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  20.1% {box-shadow: 0 0 0 0px rgba(255,165,0, 0.8)), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  50% {box-shadow: 0 0 0 0px rgba(255,165,0, 0.8), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  70% {box-shadow: 0 0 0 100px rgba(255,165,0, 0), 0 0 0 0px rgba(3, 108, 129, 0);}
  70.1% {box-shadow: 0 0 0 0px rgba(255,165,0, 0.8), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  100% {box-shadow: 0 0 0 0px rgba(255,165,0, 0.8), 0 0 0 0px rgba(3, 108, 129, 0.5);}
}
